<% if @results.present? %>
<% @results.each do |result| %>
  <p>
    <strong>profile:</strong>
    <%= link_to result.name, profile_path(result.id), method: :get %>
  </p>
<% end %>
<% end %>

<%# <script type="text/javascript"> %>
  <%# $("#searches").html("escape_javascript(render("homes/search.js.erb"))"); %>
<%# </script> %>