<% @results.each do |result| %>
  <p>
    <strong>Name:</strong>
    <%= link_to result.name, profile_path(result.id), method: :get %>
  </p>

  <% result.images.each_with_index do |attachment, index| %>
    <p>
      <strong>Images:</strong>
      <%= image_tag url_for(attachment) %>
    </p>
  <% end %>
<% end %>

<%# <script type="text/javascript"> %>
  <%# $("#searches").html("escape_javascript(render("homes/search.js.erb"))"); %>
<%# </script> %>